body{
    font-family: ubuntu, Calibri;

}

header{
    width: 100%;
    background: #232323
}


.portfolio_title{
    float: right;
}
.nav_menu{
    list-style-type: none;
    display: inline;
    width: 40%;
}

.nav_item{
    display: inline;
    margin-bottom: 15px;

}

.work_box{
    width: 30%;
    border: 2px solid grey;
}

.waltdisney_quote{
    font-family: ubuntu, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.signature{
    font-family: ubuntu;    
    font-weight: bold;
    font-size: 35px;
}

.ubuntu{
    font-family: ubuntu;
}
.ubuntu-bold{
    font-family: ubuntu;
    font-weight: bold;
}