body{
    font-family: ubuntu, Calibri;

}

header{
    width: 100%;
    background: #232323
}


.portfolio_title{
    float: right;
}
.nav_menu{
    list-style-type: none;
    display: inline;
    width: 40%;
}

.nav_item{
    display: inline;
    margin-bottom: 15px;

}

.work_box{
    width: 30%;
    border: 2px solid grey;
}